.el-tabs__nav{
  padding-left: 1rem;
}
.el-tabs__active-bar{
 
  left: 1.1rem!important;
  transform: translateX(66px)!important;
  width: 0!important;
}
.el-tabs--top{
  border-radius: 0.4rem;
  min-height: 90vh;
  background-color: #fff;
}
.el-tab-pane{
  padding-left: 1rem;
}
.el-tabs__item{
  color: #a5a7ad;
  font-size: 1.3rem;
}